<!DOCTYPE html>
<html>
<head>
<title>Forum</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="Content/index.css">
<script type="text/javascript" src="indes.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
<link rel="icon" 
      type="image/jpg" 
      href="more\images\upper-logo.jpg" />
<link rel="shortcut icon" type="image/ico" href="more\images\favicon.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>PANAYOT</h1>
    </header>
    <nav>   
        <ul class = "topnav" id = "myTopnav">
            <li><a href="index.html">Home</a></li>
            <li><a href="downloads.html">Download</a></li>
            <li><a href="index.html">Autobiography</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="forum.html">Forum</a></li>
        </ul>
        <a class="icon" onclick="myFunction()">&#9776;</a>
    </nav>
    <main>
        <section id = "app">
            <button class= "login" onclick="document.getElementById('forum-login').style.display='block'">Login</button>
            <button class= "login" id = "register" onclick="location.href='register.html'"><a>Register</a></button>
            <div id="forum-login">
  
                <form action="/action_page.php" method="post">

                  <div class = "forum-login-container">
                    <div>
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>
                        <span onclick="document.getElementById('forum-login').style.display='none'" class="closes" title="Close Modal">&times;</span>
                    </div>
                    
                    <div>
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <button type="submit">Login</button>
                        <label>
                        <input type="checkbox" checked="checked" name="remember"> <span  style = "color: #7FFFD4; font-size: 16px;">Remember me</span>
                        </label>
                    </div>
            
                  </div> <!--End forum-login-container-->
              
                  <div>
                    <button type="button" onclick="document.getElementById('forum-login').style.display='none'" class="cancelbtn">Cancel</button>
                  </div>
                </form>
              </div><!--End login form -->
            <div class = "container-forum">
                <div class = "row">
                    <div class = "col-6">
                        <div class="comment">
                            <p v-for="items in item" v-text="items"></p>
                        </div><!--End comment -->
                    </div><!--End col -->
                </div><!--End row -->
                    <div class = "row">
                      <div class = "col-6">
                        <div>
                            <textarea type="text" class="input" style = "resize: none;" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                            <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                        </div>
                      </div><!--End col -->
                    </div><!--End row -->
            </div><!--End Container -->
            <div class = "go-up">
                <a href = "#top"><i class="arrow up"></i></a>
            </div>
        </section>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script>
            $(document).ready(function(){ 
                //if add text Button is clicked a field appers
                $(".primaryContained").on('click', function(){
                    $(".comment").addClass("commentClicked");
                    //if the commenct section is bigger than 600px arrow to go up appers
                    if($('#app').css('height') > '600px') {
                    $('.go-up').css('display','block');
                }
                });//end click
                //if enter is pressed a field apperas
                $("textarea").on('keyup.enter', function(){
                    $(".comment").addClass("commentClicked");
                    //if the commenct section is bigger than 600px arrow to go up appers
                    if($('#app').css('height') > '600px') {
                    $('.go-up').css('display','block');
                }
                });//end keyup

                //if we click the go up arrow, the arrow dissaperrs
                $('.go-up').click(function() {
                    $('.go-up').css('display','none');
                }
                )
                //if the user is scrolling
                $(window).scroll(function(){
                    //if the users goes to the top of the page, the arrow dissapers
                    if($(window).scrollTop() == 0) {
                        $('.go-up').css('display','none');
                        console.log("Im top");
                }

                //if the users go on the bottom of the page, the arrow appers
                else if ($(window).height() + $(window).scrollTop()
                                == $(document).height()) {
                    $('.go-up').css('display','block');
                 }
                });


                
                
                    var modal_forum = document.getElementById('forum-login');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal_forum) {
                            modal_forum.style.display = "none";
                        }
                    }
            
                });//End Function

            new Vue({
                el: "#app",
                data:{
                    title: 'Add a comment',
                  newItem: '',
                  item: [],
                },
                methods:{
                  addItem  (){
                  this.item.push(this.newItem);
                    this.newItem = "";
                }
                }

                });
        </script>
    </main>
    <footer>
        <div class = "socialMedia"> 
            <a href="https://www.facebook.com/panaiot.kostov.7"target="_blank"><img src = "more\images\fb_logo.svg" alt="Facebook logo" width="30px"></a>
            <a href="https://www.instagram.com/panayot.kostov "target="_blank"><img src = "more\images\insta_logo.svg" alt="Instagram logo" width="30px"></a>
            <a href="https://github.com/hzd1719"target="_blank"><img src = "more\images\github_logo.svg" alt="Github logo" width="30px"></a>
        </div>
        <p>@2022 Panayot Kostov</p>
    </footer>

</body>
</html>