
@{
    ViewBag.Title = "Add new comment";
}

<h2>Add new comment</h2>
<form method="post" action="">
    <fieldset>
        @if (Request.IsAuthenticated)
        {
            <p>@User.Identity.Name</p>
            <input style="display:none;"type="text" name="Name" value="@User.Identity.Name" maxlength="200"/>
        }

        else
        {
            <p>Please enter your name:</p><br />
            <input type="text" name="Name" maxlength="200" />
            <br />
        }
        
              <p>Please enter your message: </p>
        <textarea name="Message" rows="15" cols="60">
        </textarea>
        <br /><br />
        <input  class='primaryContained float-right' type="submit" value="Add comment" />
    </fieldset>
</form>

